<launch>
	<arg name="map_file" default="$(find chibi19_a)/map_data/a19map2.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find chibi19_a)/config/global_path.rviz"/>

	<node pkg="chibi19_a" type="a_star_s" name="a_star_s" output="screen" >
		<param name="ix" value="-1.0"/>
		<param name="iy" value="-3.0"/>
		<param name="gx1" value="14.5"/>
		<param name="gy1" value="-3.5"/>
		<param name="gx2" value="15"/>
		<param name="gy2" value="10"/>
		<param name="gx3" value="-1.0"/>
		<param name="gy3" value="10.5"/>
		<param name="gx4" value="-18.0"/>
		<param name="gy4" value="11.5"/>
		<param name="gx5" value="-18.5"/>
		<param name="gy5" value="-2.3"/>
		<param name="gx6" value="-1.0"/>
		<param name="gy6" value="-3.0"/>
	</node>
</launch>

