<launch>
	<arg name="map_file" default="$(find chibi19_a)/map_data/a19map2.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find chibi19_a)/config/rviz/globalpath.rviz"/>

	<node pkg="chibi19_a" type="a_star" name="a_star" output="screen" >
		<rosparam file="$(find chibi19_a)/config/param/globalpath.yaml" command="load" />
	</node>

	<node pkg="chibi19_a" type="localization" name="localization" output="screen">
		<rosparam file="$(find chibi19_a)/config/param/localization.yaml" command="load" />
	</node>
</launch>

